@tailwind base;
@layer base {
    @font-face {
        font-family: 'Noto Sans KR';
        src: url('/fonts/Noto_Sans_KR/NotoSansKR-Medium.otf') format('otf');
        font-display: swap;
    }

    html {
        font-family: 'Noto Sans KR', ui-sans-serif, system-ui, -apple-system,
            BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
            'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
            'Segoe UI Symbol', 'Noto Color Emoji';
    }
}

@tailwind components;
@tailwind utilities;
